h1 {
    color:brown;
}

h2 {
    color:rgb(21, 8, 202);
}

h3 {
    color:rgb(21, 8, 202);
}

body {
    background-color:rgb(236, 195, 216);
}    

button {
    background-color: rgb(202, 171, 231);
    color:crimson;
    margin: 5px;;
}

#subtitulo {
    background-color: darksalmon;
}

#autor {
    color:darkmagenta;
}

#txt {
    background-color: rgb(219, 135, 222);
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
