 h1 {
    color:brown;
}

 h2 {
    color:rgb(21, 8, 202);
}

h3 {
    color:rgb(21, 8, 202);
}

body {
    background-color:rgb(236, 195, 216);
}    

a {
    color:crimson;
}

#Parrafo1 {
    background-color: rgb(219, 135, 222);
}

#autor {
    color:darkmagenta;
}

#parrafo2 {
    background-color:burlywood;
}

#indice {
    outline: 4px solid sienna;
    width: 300px;
    height: 90px; 
}

#opciones {
    outline: 2px solid rgb(158, 7, 57);
    width: 1050px;
}